.top-rated-header{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}
.horizontal-line{
    width: 45px;
    size: 4px;
    color: rgb(243, 40, 250);
    border-radius: 10px;
    opacity: 100;
       
}
